.MMM-Ecobee .icon {
  padding-left: 0;
  padding-right: 15px;
  align-items: left;
}

.MMM-Ecobee .header {
  border-bottom: none; /* instead of 1px solid #666; to remove all lines from all the headers */
  width: 50%;          /* add this to change the width of all module headers */
}

.MMM-Ecobee .current_temp{
  padding-right: 5px;
}

.MMM-Ecobee svg {
  stroke: #999;
  fill: none;
  height: 30px;
}

.MMM-Ecobee svg text {
  stroke: none;
  fill: #999;
}

.MMM-Ecobee .stroke-no-motion {
  stroke: none;
}

.MMM-Ecobee .stroke-heat-color {
  stroke: #F99B1F;
}

.MMM-Ecobee .stroke-cool-color {
  stroke: #36C3EA;
}

.MMM-Ecobee .stroke-thermostat-color {
  stroke: #D28DE0;
}

.MMM-Ecobee .sensor-svg{
  padding-left: 4px /* align icons */
}

.MMM-Ecobee .icon {
  /* Aligns the logo and the temperature icon vertically */
  display: flex;
  align-items: center;
  justify-content: center;
}

.MMM-Ecobee .logo{
  padding-left: 6px;
  padding-right: 4px;
  text-align: center;
}

.MMM-Ecobee td {
  text-align: left;
}

.MMM-Ecobee .icon>span {
  /* Aligns the logo and the temperature icon vertically */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0;
}

.MMM-Ecobee .logo>span>svg {
    height: 25px; /* Ensures logo is similar in height to the FA temperature icon */
}
